r~EC@@xI(N
C
)POST /MediaRenderer/AVTransport/Control HTTP/1.1
CONNECTION: close
ACCEPT-ENCODING: gzip
HOST: 192.168.1.204:1400
USER-AGENT: Linux UPnP/1.0 Sonos/80.1-55014 (MDCR_MacBookPro18,3)
X-Sonos-Api-Key: 85f746ce-7307-4acf-bc36-71c9979d7b00
X-Sonos-Corr-Id: 149cdc85-4a69-4e80-a6cc-f25f3191c220
CONTENT-LENGTH: 290
CONTENT-TYPE: text/xml; charset="utf-8"
X-SONOS-TARGET-UDN: uuid:RINCON_F0F6C1CD0FD801400
SOAPACTION: "urn:schemas-upnp-org:service:AVTransport:1#RemoveAllTracksFromQueue"

<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/" s:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><s:Body><u:RemoveAllTracksFromQueue xmlns:u="urn:schemas-upnp-org:service:AVTransport:1"><InstanceID>0</InstanceID></u:RemoveAllTracksFromQueue></s:Body></s:Envelope>
